body {
    background-image: url(https://wallpaperaccess.com/full/3352660.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    color:white;
    font-size: 30px;
}

.img{
    margin: 10px 500px 10px 600px;
    background-size: cover;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    margin : 30px;
}


.Attaqué {
    position: relative;
    left: 500px ;
    bottom: 0px;
    top: 100px;
}

.Perdue{
    position: relative;
    left: 900px ;
    bottom: 0px;
    top: 100px;
}