body {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20200914/pngtree-halloween-bloodstain-blood-background-image_398567.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    color:white;
    font-size: 30px;
    text-align: center;
    background: blue;
}

.img {
    position: relative;
    left: 600px ;
    top : 0px;
    margin : 30px;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    position: relative;
    left: 0px ;
    top : 20px;
    margin : 30px;
}
