body {
    background-image: url(https://i.pinimg.com/736x/59/c8/01/59c8014aba30847bb56a1e1446893d1f--landscape-posters-landscape-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color:white;
    font-size: 30px;
}

.img {
    position: relative;
    left: 600px ;
    top : 0px;
    margin : 30px;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    position: relative;
    left: 0px ;
    top : 20px;
    margin : 30px;
}
