body{
    background-image: url(https://cache.desktopnexus.com/thumbseg/2560/2560255-bigthumbnail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    color:white;
    font-size: 30px;
    text-align: center;
    background: blue;
}

div p {
    color:white;
    font-size: 30px;
    text-align: center;
}

.img {
    position: relative;
    left: 600px ;
    top : 0px;
    margin : 30px;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    position: relative;
    left: 300px ;
    top : 0px;
    margin : 30px;
}

