body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/82/304/1010/castles-castle-artistic-cloud-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color:white;
    font-size: 30px;
}

.img{
    margin: 10px 500px 10px 600px;
    background-size: cover;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    margin : 30px;
}

.Victoire {
    position: relative;
    left: 0px ;
    bottom: 0px;
}


.Perdue{
    position: relative;
    left: 0px ;
    bottom: 0px;
}
