body {
    background-image: url(https://c.wallhere.com/photos/ff/80/1920x1200_px_artwork_boat_Cabin_clouds_dog_forest_house-519611.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color:white;
    font-size: 30px;
}

.img{
    margin: 10px 500px 10px 600px;
    background-size: cover;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    margin : 30px;
}

.Garien_des_cieux {
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Loup_solitaire {
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Mercenaire_Dompteur {
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Troupe_de_la_montagne {
    position: relative;
    left: 0px ;
    bottom: 0px;
}