body {
    background-image: url(https://c.wallhere.com/photos/ff/80/1920x1200_px_artwork_boat_Cabin_clouds_dog_forest_house-519611.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color:ghostwhite;
    font-size: 30px;
}

.img{
    margin: 10px 500px 10px 600px;
    background-size: cover;
}

input{
    color:black;
    background-color:aquamarine;
    border: none; 
    font-size: 30px;
}

.Continuer {
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Victoire {
    position: relative;
    left: 0px ;
    bottom: 0px;
}
