body {
    background-image: url(https://i0.wp.com/www.photo-paysage.com/albums/userpics/10001/normal_Col_de_la_Pare_photographie_depuis_le_col_du_Galibier.jpg?resize=525%2C349&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div p {
    color:white;
    font-size: 50px;
    text-align: center;
    margin : 30px;
}

p {
    color :white ;
    background: blue ;
    font-size : 30px; 
    position : relative ;
    top : 50px;
    margin : 30px;
}

.img{
    background-size: cover;
    position: relative;
    left: 750px ;
    top : 30px;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    margin : 30px;
    position: relative;
    left: 750px ;
    top : 50px;
}
