body {
    background-image: url(https://i0.wp.com/www.photo-paysage.com/albums/userpics/10001/normal_Col_de_la_Pare_photographie_depuis_le_col_du_Galibier.jpg?resize=525%2C349&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color:ghostwhite;
    font-size: 30px;
}

.img{
    margin: 10px 500px 10px 600px;
    background-size: cover;
}


input{
    color:black;
    background-color:aquamarine;
    border: none; 
    font-size: 30px;
}

.Magma {
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Potion {
    position: relative;
    left: 0px ;
    bottom: 0px;
}
