body {
    background-image: url(https://i0.wp.com/www.photo-paysage.com/albums/userpics/10001/normal_Col_de_la_Pare_photographie_depuis_le_col_du_Galibier.jpg?resize=525%2C349&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
}

div p {
    color:red;
    font-size: 50px;
    position: relative;
    left: 800px ;
}

p {
    color :white ;
    font-size : 30px; 
}

div .img{
    background-size: cover;
    position: relative;
    left: 700px ;
}

.img{
    background-size: cover;
    position: relative;
    left: 550px ;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    margin : 30px;
}

.Magma {
    position: relative;
    left: 450px ;
    bottom: 0px;
}

.Potion {
    position: relative;
    left: 850px ;
    bottom: 0px;
}
