body {
    background-image: url(https://perezartsplastiques.files.wordpress.com/2011/12/loup-hurlant-dans-la-nuit-bleu-73485.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    color:white;
    font-size: 30px;
}

.img{
    margin: 10px 500px 10px 600px;
    background-size: cover;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    position: relative;
    left: 780px ;
    top : 0px;
    margin : 30px;
}
