body {
    background-image: url(https://st4.depositphotos.com/9904426/20941/i/600/depositphotos_209418502-stock-photo-antique-and-vintage-glass-bottle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color:white;
    font-size: 30px;
}

.img{
    margin: 10px 500px 10px 600px;
    background-size: cover;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    margin : 30px;
}

.Dragon {
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Serpent {
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Araigné{
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Méchant {
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Bélier {
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Pièges {
    position: relative;
    left: 0px ;
    bottom: 0px;
}