body {
    background-image: url(https://ns328286.ip-37-187-113.eu/ew/wallpapers/800x480/13972_800x480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


p{
    color:white;
    font-size: 30px;
}

.img{
    margin: 10px 500px 10px 600px;
    background-size: cover;
}

input{
    color:white;
    background-color:blue;
    border: none; 
    font-size: 30px;
    margin : 30px;
}

.Continuer {
    position: relative;
    left: 100px ;
    bottom: 0px;
    top: 100px;
}

.Victoire {
    position: relative;
    left: 200px ;
    bottom: 0px;
    top: 100px;
}
