body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQla2FDDA-ahC2NxWTzXm5VLf5Ms6qVCPqB6_6ra_Ek-K3htQqTgs3fKPiVZ917FvCMUig&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color:ghostwhite;
    font-size: 30px;
}

.img{
    margin: 10px 500px 10px 600px;
    background-size: cover;
}


input{
    color:black;
    background-color:aquamarine;
    border: none; 
    font-size: 30px;
}

.Potion {
    position: relative;
    left: 0px ;
    bottom: 0px;
}

.Aliés {
    position: relative;
    left: 0px ;
    bottom: 0px;
}
